<div class="mdui-card">
  {%- if include.post.cover -%}
  <div class="mdui-card-media mdui-ripple">
    <img src="{{ include.post.cover }}" style="height: 36vh;object-fit: cover;" alt="">
  </div>
  {%- endif -%}
  <div class="mdui-card-primary">
    <div class="mdui-card-primary-title">{{ include.post.title | default: 'No Title' }}</div>
    <div class="mdui-card-primary-subtitle">{{ include.post.date | date: '%Y年%m月%d日' }} - {{ include.post.category }}
    </div>
  </div>
  {%- if include.post.summary -%}
  <div class="mdui-typo mdui-m-x-2">
    <p>{{ include.post.summary }}</p>
  </div>
  {%- endif -%}
  <div class="mdui-divider mdui-m-y-2"></div>
  <div class="mdui-card-content mdui-typo">
    {{ include.post.content | strip_html | truncatewords: 20 }}
  </div>
  <div class="mdui-card-actions">
    <button class="mdui-btn mdui-btn-bold mdui-ripple mdui-center"
      onclick="javascript:window.location.href='{{ include.post.url }}';">查看全文</button>
  </div>
</div>