<style>
  .list-li-contents {
    list-style: none;
  }

  .list-ul-contents {
    margin-left: 0px !important;
    padding-left: 0px !important;
  }
</style>
<div class="mdui-drawer mdui-drawer-right mdui-drawer-close user-select-disabled" id="drawer-post-contents">
  <div class="mdui-m-t-2 mdui-m-x-2 mdui-valign mdui-clearfix">
    <button class="mdui-btn mdui-btn-icon mdui-text-color-theme-accent"><i class="mdui-icon material-icons"
        mdui-drawer-close>arrow_back</i></button>
    <b class="mdui-typo-title mdui-float-right mdui-m-l-2">目录</b>
  </div>
  <div class="mdui-typo mdui-p-t-2 mdui-m-x-3" id="drawer-post-contents-list-container">
  </div>
</div>