<div id="header" class="mdui-appbar mdui-appbar-fixed mdui-appbar-inset mdui-shadow-0 header-blur mdui-text-color-white">
  <div class="mdui-toolbar">
    <button class="mdui-btn mdui-ripple mdui-btn-icon" mdui-drawer="{target: '#drawer'}"><i
        class="mdui-icon material-icons">menu</i></button>
    <a href="/" class="mdui-typo-title">{{ site.data.config.title }}</a>
    <div class="mdui-toolbar-spacer"></div>
  </div>
</div>
<style>
  .header-blur {
    background-color: rgba(0, 0, 0, 0.55) !important;
    backdrop-filter: blur(8px) !important;
  }
</style>
{%- include components/drawer.html -%}